.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    height: 72px;
}

.navigation ul li:hover{
    color: green;
    transform: scaleX(1.1);
    cursor: pointer;
}

.navigation ul li{
    transition: all 0.5s ease;
}

.navigation ul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: 20px;
    font-weight: 500;
    font-size: 20px;
}