.container{
    display: flex;
    max-width: 1280px;
    margin: 0 auto;
}

.buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.buttons button{
    background-color: transparent;
    padding: 10px 20px;
    font-size: 17px;
    font-weight: 600;
    border: 1px solid black;
    transition: all 0.7s ease;
    cursor: pointer;
}

.buttons button:hover{
    background-color: black;
    color: white;
    border-color: black;
    
}

.email{
    display: flex;
    align-items: center;
    justify-content: center;
}

.email button{
    margin-top: 20px;
    padding: 10px 103px;
    font-size: 17px;
    font-weight: 600;
    border: 1px solid black;
    transition: all 0.7s ease;
    cursor: pointer;
    background-color: transparent;
    margin-bottom: 25px;
}

.email button:hover{
    background-color: black;
    color: white;
    border-color: black;
   
}

.inputs{
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 19px;
}

.inputs input{
    margin-top: 5px;
    margin-bottom: 18px;
    height: 40px;
    
    font-size: 15px;
    border: 2px solid black;
    transition: all 0.5s ease;
}

.inputs input:hover{
    border: 2px solid green;
    border-color: green;
    
}

.texting{
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 19px;
    
}

.texting input{
    margin-top: 5px;
    margin-bottom: 18px;
    height: 150px;
    
    font-size: 15px;
    border: 2px solid black;
    transition: all 0.5s ease;
}

