.container{
    display: flex;
    max-width: 1280px;
    margin: 0 auto;
}

.buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.buttons button{
    background-color: transparent;
    padding: 10px 20px;
    font-size: 17px;
    font-weight: 600;
    border: 1px solid black;
    transition: all 0.7s ease;
    cursor: pointer;
}

.buttons button:hover{
    background-color: black;
    color: greenyellow;
    border-color: black;
    border-radius: 15px; 
}

.email{
    display: flex;
    align-items: center;
    justify-content: center;
}

.email button{
    margin-top: 20px;
    padding: 10px 103px;
    font-size: 17px;
    font-weight: 600;
    border: 1px solid black;
    transition: all 0.7s ease;
    cursor: pointer;
    background-color: transparent;
}

.email button:hover{
    background-color: black;
    color: greenyellow;
    border-color: black;
    border-radius: 15px;
}
